@model ProjetoMVC01_.Models.ProdutoEdicaoModel

@{
    ViewData["Title"] = "Edicao";
    Layout = "~/Views/Templates/Layout.cshtml";
}

<h3>Atualização de Produto</h3>
<p>
    Utilize o formulário para alterar o produto.
</p>
<hr />

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-secondary mb-2">
        <strong>@TempData["Mensagem"]</strong>
    </div>
}

@using (Html.BeginForm())
{
    <!-- campo oculto-->
    @Html.HiddenFor(model => model.IdProduto)

    <label>Nome do Produto:</label>
    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Nome)
    </div>
    <br />

    <label>Preço do Produto</label>
    @Html.TextBoxFor(model => model.Preco, new { @class = "form-control" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Preco)
    </div>
    <br />

    <label>Quatidade do Produto:</label>
    @Html.TextBoxFor(model => model.Quantidade, new { @class = "form-control" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Quantidade)
    </div>
    <br />

    <input type="submit" value="Salvar Alterações" class="btn btn-primary"/>
}



